fastapi
uvicorn
python-multipart
sqlmodel
SQLAlchemy
psycopg2-binary
alembic
passlib
bcrypt
python-jose
httpx[http2]
beautifulsoup4
requests
spacy
easyocr
google-genai
google-generativeai
groq
python-dotenv
pydantic[email]
loguru
holehe
sherlock-project
openai
